body {
    margin:0;
    padding:0;
    font-size: 0.82rem;
    font-weight: 400;
}
.img-fluid {
    max-width:50%;
    height:auto;
}
.btn {
    background: #fff;
}
.drop-text {
    font-size:14px;
    text-align: center;
}
.d-flex {
    background-color: #ddd;
}
.nav-menu {
    display:flex;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#ddd;
}
.nav-item {
    width:14.2857143%;
    text-align: center;
    display: flex;
    list-style-type: none;
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.nav-item.active {
    border-right: 0;
    border-bottom-color: #fff;
}
.nav-link {
    width:200px;
    background-color:#ddd;
}
.drop {
    margin-top:50px;
}
.thumbs {
    text-align: center;
    margin-top:10px;
}
.home {
    margin-left:30px;
    margin-top: 15px;
}
.nav-menu>nav-item {
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
a:link,a:visited,a:active {
    text-decoration: none;
    color: #235a81;
    cursor: pointer;
    outline: none;
}