body {
    margin:0;
    padding:0;
}
.img-fluid {
    max-width:50%;
    height:auto;
}
.btn {
    background: #fff;
    border:1px solid gray;
}
.drop-text {
    font-size:14px;
    text-align: center;
}
.nav-menu {
    background: lightgray;
    display:flex;
}
.nav-item {
    width:14.2857143%;
    text-align: center;
    display: flex;
    padding: 13px;
    list-style-type: none;
}
.nav-link {
    font-size:20px;
    color:darkblue;
    margin-left:8px;
}
.drop {
    margin-top:50px;
}
.fa {
    margin-top:16px;
}
