body {
    margin:0;
    padding:0;
    font-size: 0.82rem;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    color:#fff;
}
.img-fluid {
    max-width:50%;
    height:auto;
}
#Div2{
    display: none;
}
.btn{
    background: #fff;
}
.drop-text {
    font-size:14px;
    text-align: center;
}
.near{
    margin-bottom: -20px;
    margin-left: 23px;
}

.nav-menu {
    font-weight: bold;
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#ddd;
}
#all{
    margin-top:50px;
    width:100%;
    height:50px;
}
.nav-item {
    width:14.2857143%;
    text-align: center;
    display: flex;
    list-style-type: none;
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
tem.active {
    border-right: 0;
    border-bottom-color: #fff;
}
.nav-link {
    width:200px;
    background-color:#ddd;
}
.drop {
    margin-top:50px;
}
.thumbs {
    text-align: center;
    margin-top:10px;
}
.home {
    margin-left:30px;
    margin-top: 15px;
}
.nav-menu>nav-item {
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
a:link,a:visited,a:active {
    text-decoration: none;
    color: #235a81;
    cursor: pointer;
    outline: none;
}
#general {
    width:100%;
    display:flex;
    flex-direction: column;
}

.gen1 {
    width:100%;
    height:150px;
    margin-top:50px;
    border:1px solid #ccc;
    background:#ffffff;
    box-shadow: 2px 3px #cccccc;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.child {
    width:100%;
    height:50px;
    background:#cccccc;
    margin-bottom: 20px;
    background-color: #bbb;
    border-bottom: 1px solid #999;

}
.child h3 {
    text-shadow: 0 1px 0 #777;
}
.gen {
    width:100%;
    height:150px;
    background: #ffffff;
    margin-top:50px;
    border:1px solid #ccc;
    box-shadow: 2px 3px #cccccc;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.desc {
    margin-top:20px;
}

.gen2 {
    width:100%;
    height:300px;
    background: #ffffff;
    margin-top:50px;
    border:1px solid #ccc;
    box-shadow: 2px 3px #cccccc;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.bbb {
    margin-top:-60px;
    margin-bottom: 13px;
    margin-left:20px;
}
